@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  :root {
    --background: #f9fafb;
    --btn-background: #78d97b;
    --btn-background-hover: #1c2022;
    --btn-text-color: #1a1a1a;
    --btn-text-color-hover: #f9fafb;
    --foreground: #1a1a1a;
    --regular-text-color: #f9fafb;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #04090b;
      --btn-background: #78d97b;
      --btn-background-hover: #1c2022;
      --btn-text-color: #f9fafb;
      --btn-text-color-hover: #f9fafb;
      --foreground: #f9fafb;
      --regular-text-color: #1a1a1a;
      --regular-text-color: #f9fafb;
      animation: fadeInAnimation ease 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer base {
  * {
    @apply border-foreground;
    @apply transition-colors duration-75;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Champagne&Limousines';
  src: url('../public/fonts/champagne---limousines/Champagne & Limousines.ttf');
  src: url('../public/fonts/champagne---limousines/Champagne & Limousines Bold.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MarkPro';
  src: url('../public/fonts/mark-pro/Mark Pro/Mark Pro.ttf');
  src: url('../public/fonts/mark-pro/Mark Pro Bold/Mark Pro Bold.ttf');
  src: url('../public/fonts/mark-pro/Mark Pro Medium/Mark Pro Medium.ttf');
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Champagne&Limousines';
}

h1 {
  font-size: 250%; /* 45px */
}

h2 {
  font-size: 200%; /* 36px */
  color: #79d97c;
}

h3 {
  font-size: 177.78%; /* 32px */
}

h4 {
  font-size: 162.5%; /* 26px */
}

h5 {
  font-size: 122%; /* 22px */
}

h6 {
  font-size: 100%; /* 18px */
}

p {
  font-family: 'MarkPro';
}

button {
  font-family: 'MarkPro';
}

a.link-with-style {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  padding: 1px;
}

a:hover.link-with-style {
  background-size: 0 3px, 100% 3px;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #b3b8aa;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #f553ff;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #f553ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #f553ff;
  border-right: 3px solid #f553ff;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.ring span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.ring span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #f553ff;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #f553ff;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/* STYLINGS FOR CALENDER */
.rbc-time-view {
  .rbc-label {
    display: none;
  }
  .rbc-allday-cell {
    height: calc(100vh - 98px);
    max-height: unset;
  }
  .rbc-time-content {
    display: none;
  }
}
.rbc-calendar {
  font-family: 'Champagne&Limousines';
  .rbc-toolbar {
    align-self: center;
  }
  .rbc-btn-group {
    display: none;
  }
  .rbc-toolbar-label {
  }
}
.rbc-time-view-resources .rbc-time-header-content {
  width: 100%;
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .rbc-time-view-resources .rbc-time-header-content {
    width: 40vw;
  }
}

.rbc-event.rbc-event-allday {
  background-color: var(--btn-background);
  height: 8rem;
  max-width: fit-content;
}

/* flex component for calender table*/
/* .rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  flex: 0 1 0;
  flex-basis: 0px;
} */

.rbc-row.rbc-row-resource {
  order: 3;
}

.rbc-header.rbc-today {
  width: fit-content;
  height: auto;
  word-spacing: 100vw;
  .rbc-button-link {
    font-size: 1.2rem;
    padding: 1px;
  }
}

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  height: fit-content;
}

/*Styles for titel below table*/
.rbc-row.rbc-row-resource {
  font-size: 162.5%; /* 26px */

  .rbc-header {
    text-align: right;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .rbc-row.rbc-row-resource {
    font-size: 100%; /* 26px */
  }
}

/*Green column inside table calendar*/
.rbc-row-content {
  margin-top: 2rem;
}
.rbc-row-segment:not(:-webkit-full-screen) {
  text-align: -webkit-center;
}
.rbc-event.rbc-event-allday {
  display: flex;
  align-items: flex-end;
  .rbc-event-content {
    font-size: medium;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .rbc-event-content:not(:-webkit-full-screen) {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding: 3px;
  }
}
